@{
  Layout = "_Layout";
}

<div class="homeImage">
  <h1>Deluxe Factory Manager</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <p>@Html.ActionLink("See all Machines", "Index", "Machines", null, new { @class = "btn btn-info btn-large" })</p>
  </div>
  @* @* <div class="col-md-4">
    <p>@Html.ActionLink("See all appointments", "Index", "Appointments", null, new { @class = "btn btn-info btn-large" })</p>    
  </div> *@
  <div class="col-md-4">
    <p>@Html.ActionLink("See all Engineers", "Index", "Engineers", null, new { @class = "btn btn-info btn-large" })</p>    
  </div> 
</div>